my-about-page/index.html
<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>My About Page</title>
    <meta name="viewport" content="width=device-width">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    
    <link rel="stylesheet" href="css/normalize.css">

    
        <link rel="stylesheet" href="css/style.css">

    
    
    
  </head>

  <body>

    
<div class="wrapper">
  <div class="container">
    <div class="profile">
      <div class="meta"><img src="https://en.gravatar.com/userimage/9711931/afe2e387a83545dcc17acc11986759d4.jpg" class="avatar"/>
        <h2>Dave Haertel</h2>
        <div class="position">Web Designer</div>
        <div class="social"><a href="https://www.facebook.com/dave.haertel"><i class="fa fa-facebook-square"></i></a><a href="https://bitbucket.org/portcitytechnology"><i class="fa fa-git"></i></a><a href="mailto:dave@portcitytechnology.com"><i class="fa fa-envelope"></i></a><a href="https://twitter.com/portcitytech"><i class="fa fa-twitter"></i></a></div>
      </div>
      <div class="overlay"></div>
    </div>
    <div class="portfolio">
      <h1>This is me. Dave Haertel</h1>
      <p>Let me give you the run down.</p>
      <p>I'm a self-taught web designer and have been absorbing as much HTML/CSS as I can for the last 5 years and so far things have turned out alright.  I'm enjoying the freedom this has given me and hope that it continues in this way.  If you have a project that you would like me to take a look at or get involved with, drop me a line at <a href="mailto:dave@portcitytechnology.com">dave@portcitytechnology.com</a></p>
    </div>
  </div>
  <div class="footer text-center">Made with<i class="fa fa-fw fa-heart"></i><a href="http://portcitytechnology.com" class="newlink">Port City Technology</a></div>
</div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

        <script src="js/index.js"></script>

    
    
    
  </body>
</html>

my-about-page/index.jade
.wrapper
  .container
    .profile
      .meta
        img(class="avatar", src="https://en.gravatar.com/userimage/9711931/afe2e387a83545dcc17acc11986759d4.jpg")
        h2 Dave Haertel
        .position Web Designer
        .social
          a(href="https://www.facebook.com/dave.haertel")
            i.fa.fa-facebook-square
          a(href="https://bitbucket.org/portcitytechnology")
            i.fa.fa-git
          a(href="mailto:dave@portcitytechnology.com")
            i.fa.fa-envelope
          a(href="https://twitter.com/portcitytech")
            i.fa.fa-twitter
      .overlay
    .portfolio
      h1 This is me. Dave Haertel
      p Let me give you the run down.
      p I'm a self-taught web designer and have been absorbing as much HTML/CSS as I can for the last 5 years and so far things have turned out alright.  I'm enjoying the freedom this has given me and hope that it continues in this way.  If you have a project that you would like me to take a look at or get involved with, drop me a line at <a href="mailto:dave@portcitytechnology.com">dave@portcitytechnology.com</a>
  .footer.text-center Made with
    i.fa.fa-fw.fa-heart
    a(href="http://portcitytechnology.com").newlink Port City Technology
